.popup__input-error {
    display: block;
    line-height: 14px;
    font-size: 12px;
    margin: 0;
    color: red;
    min-height: 28px;
    overflow: auto;
}

.popup__input-error:last-of-type {
    margin-bottom: 17px;
    
}