.popup__input {
    margin: 0;
    padding: 0;
    max-width: 358px;
    height: 27px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 17px;
    border-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 500px) {
    .popup__input {
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
    }
    
}
