.element__heart {
    border: none;
    background: url(../../../images/Vector-heart.svg);
    width: 22px;
    height: 19px;
    float: right;
    margin: auto;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 5px;
}

.element__heart:hover {
    opacity: .5;
}
