.profile__edit-button {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    align-self: center;
    border: 1px solid white;
    background: url(../../../images/Vector.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;


}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 760px) {
    .profile__edit-button {
        margin: auto;
        margin-left: 10px;
        width: 18px;
        height: 18px;
    }
    
}

