.element__heart {
    border: none;
    background: url(../../../images/Vector-heart.svg);
    width: 22px;
    height: 19px;
    margin-bottom: 3px;
    cursor: pointer;
    
}

.element__heart:hover {
    opacity: .5;
}
