.popup__content {
    max-width: 358px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 34px;
    overflow: visible;
}

@media screen and (max-width: 500px) {
    .popup__content {
        max-width: 85%;
        margin-top: 25px;
    }
}