.popup__close {
    margin: 0;
    padding: 0;
    position: absolute;
    /* bottom: 346px;
    left: 438px; */
    right: -36px;
    top: -36px;
    background: url(../../../images/Close\ Icon.png);
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    width: 32px;
    height: 32px;
    border-style: none;
    cursor: pointer;
}

.popup__close:hover {
    background-color: rgba(0, 0, 0, .6);
}

@media screen and (max-width: 500px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}