.popup__close {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 346px;
    left: 438px;
    background: url(../../../images/Close\ Icon.png);
    background-color: rgba(0, 0, 0, 0);
    width: 32px;
    height: 32px;
    border-style: none;
    cursor: pointer;
}

.popup__close:hover {
    background-color: rgba(0, 0, 0, .6);
}