.profile__avatar {
    max-width: 120px;
    max-height: 120px;
    margin: 0;
    margin-right: 30px;
    border-radius: 50%;
}

@media screen and (max-width: 760px) {
    .profile__avatar {
        margin: auto;
        margin-bottom: 26px;
    }   
}