.footer {
    margin: 0;
    margin-bottom: 60px;
    
}

@media screen and (max-width: 896px) {
    .footer {
        max-width: 95%;
        margin: auto;
        margin-bottom: 60px;
    }
   
}

@media screen and (max-width: 500px) {
    .footer {
        margin-top: 48px;
        margin-bottom: 36px;
    }
}