.popup__title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    margin-bottom: 54px;
    
}

@media screen and (max-width: 500px) {
    .popup__title {
        margin: auto;
        width: 90%;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 75px;
    }
}